<div class="jumbotron">
    <h1>dotNetMalaga 2015</h1>
    <p class="lead">Nivel de empatía de los tweets por #hashtag por Javier García Magna usando Akka.Net.</p>
    <p><a href="http://akka.net" class="btn btn-primary btn-lg">Más sobre akka...</a></p>
</div>
<div ng-app="sentimentAnalysis">
    <div class="row">
        <div class="col-md-2">
            <h2>Elige hashtag {{2 + 3}}...</h2>
        </div>
        <div class="col-md-10">
            <h2>Gráfico aquí</h2>
        </div>
    </div>
</div>